# IDE / Editor
.vscode/
.idea/
*.swp
*.sublime-project
.DS_Store

# 3DDFA_V2 (不需要版本控制)
3DDFA_V2/
demo/debug_aligned
# Python (Backend)
__pycache__/
*.pyc
backend/core/models/
backend/.env
backend/.venv
backend/env/
backend/venv/

# Node.js (Frontend)
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
frontend/dist/
frontend/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
Thumbs.db
au/checkpoints/
au/pretrain_models/
pretrain_models/
au/checkpoints/
backend/perception/au/checkpoints/
backend/perception/au/pretrain_models/
backend/perception/au/config/
backend/perception/au/tool/
backend/perception/au/demo_imgs/
backend/perception/au/results/
backend/perception/au/data/
backend/perception/au/templates/
backend/perception/au/emodata/
backend/perception/au/*.pyc
emo/OpenFace-3.0
backend/perception/raw_data.json
backend/perception/au/config.json
backend/perception/mode_history/
mmw_history/
